* {
    padding: 0;
    margin: 0;
    border: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

.bg-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.picture {
    max-width: 100%;
  
    display: block;
    clip-path: polygon(0.735% 54.419%, 0.07% 29.884%, 0.07% 29.884%, 0.051% 29.503%, 0.02% 28.439%, 0.016% 26.813%, 0.075% 24.745%, 0.236% 22.356%, 0.537% 19.767%, 1.016% 17.097%, 1.711% 14.468%, 2.659% 12%, 3.9% 9.813%, 3.9% 9.813%, 5.504% 7.892%, 7.539% 6.15%, 10.036% 4.6%, 13.026% 3.254%, 16.54% 2.124%, 20.609% 1.223%, 25.263% 0.562%, 30.534% 0.154%, 36.453% 0.012%, 43.051% 0.148%, 43.051% 0.148%, 49.78% 0.472%, 56.058% 0.937%, 61.861% 1.62%, 67.166% 2.598%, 71.948% 3.946%, 76.185% 5.741%, 79.852% 8.061%, 82.926% 10.98%, 85.383% 14.577%, 87.2% 18.927%, 87.2% 18.927%, 88.022% 21.881%, 88.453% 24.156%, 88.637% 26.08%, 88.72% 27.976%, 88.846% 30.171%, 89.16% 32.99%, 89.807% 36.759%, 90.933% 41.804%, 92.681% 48.45%, 95.197% 57.022%, 95.197% 57.022%, 97.648% 65.937%, 99.178% 73.473%, 99.898% 79.754%, 99.92% 84.903%, 99.355% 89.043%, 98.316% 92.296%, 96.913% 94.786%, 95.259% 96.635%, 93.466% 97.966%, 91.643% 98.903%, 91.643% 98.903%, 89.603% 99.533%, 87.155% 99.884%, 84.41% 99.99%, 81.481% 99.884%, 78.481% 99.6%, 75.52% 99.171%, 72.712% 98.63%, 70.167% 98.011%, 67.999% 97.348%, 66.319% 96.673%, 66.319% 96.673%, 65.39% 96.836%, 62.799% 97.229%, 58.846% 97.714%, 53.83% 98.148%, 48.049% 98.392%, 41.801% 98.305%, 35.385% 97.747%, 29.1% 96.577%, 23.244% 94.655%, 18.116% 91.84%, 18.116% 91.84%, 13.854% 88.239%, 10.35% 84.165%, 7.53% 79.783%, 5.319% 75.258%, 3.645% 70.758%, 2.433% 66.447%, 1.61% 62.492%, 1.102% 59.058%, 0.835% 56.312%, 0.735% 54.419%);
}