* {
    padding: 0;
    margin: 0;
    border: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

.bg-picture {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.picture {
    max-width: 100%;
  
    display: block;
    clip-path: polygon(4.092% 54.8%, 3.507% 32.331%, 3.507% 32.331%, 3.49% 31.982%, 3.463% 31.008%, 3.459% 29.518%, 3.512% 27.625%, 3.654% 25.438%, 3.92% 23.066%, 4.342% 20.621%, 4.954% 18.213%, 5.79% 15.952%, 6.883% 13.949%, 6.883% 13.949%, 8.296% 12.189%, 10.086% 10.594%, 12.282% 9.174%, 14.91% 7.941%, 17.999% 6.907%, 21.574% 6.081%, 25.665% 5.476%, 30.298% 5.103%, 35.501% 4.973%, 41.3% 5.098%, 41.3% 5.098%, 47.203% 5.4%, 52.69% 5.839%, 57.748% 6.483%, 62.364% 7.398%, 66.527% 8.649%, 70.225% 10.304%, 73.445% 12.429%, 76.175% 15.091%, 78.402% 18.355%, 80.115% 22.289%, 80.115% 22.289%, 81.254% 25.946%, 81.874% 28.583%, 82.133% 30.568%, 82.19% 32.269%, 82.203% 34.056%, 82.33% 36.297%, 82.729% 39.361%, 83.559% 43.617%, 84.978% 49.433%, 87.143% 57.178%, 87.143% 57.178%, 89.298% 65.342%, 90.643% 72.244%, 91.276% 77.996%, 91.295% 82.711%, 90.799% 86.502%, 89.885% 89.481%, 88.653% 91.761%, 87.199% 93.454%, 85.621% 94.673%, 84.019% 95.531%, 84.019% 95.531%, 82.225% 96.108%, 80.072% 96.43%, 77.659% 96.527%, 75.085% 96.43%, 72.447% 96.169%, 69.845% 95.776%, 67.377% 95.281%, 65.141% 94.714%, 63.235% 94.107%, 61.759% 93.489%, 61.759% 93.489%, 60.942% 93.638%, 58.664% 93.998%, 55.19% 94.442%, 50.78% 94.84%, 45.698% 95.064%, 40.205% 94.985%, 34.565% 94.474%, 29.04% 93.403%, 23.892% 91.643%, 19.384% 89.064%, 19.384% 89.064%, 18.985% 88.82%, 17.901% 88.041%, 16.295% 86.662%, 14.33% 84.619%, 12.168% 81.848%, 9.971% 78.283%, 7.903% 73.861%, 6.125% 68.516%, 4.801% 62.184%, 4.092% 54.8%);
}
